/thirdPartyUI/nbproject/private/
/server/nbproject/private/
/processorUI/nbproject/private/
/clientUI/build/
/clientUI/dist/
/Server2/nbproject/private/
/Server2/build/
/BuildDatabase/nbproject/private/
/BuildDatabase/build/
/BaseDefinitions/nbproject/private/
/BaseDefinitions/dist/
/BaseDefinitions/build/
/SqlTools/dist/
/SqlTools/build/
/SqlTools/nbproject/private/
clientUI/nbproject/build-impl.xml
clientUI/nbproject/private/private.properties
clientUI/nbproject/build-impl.xml
clientUI/nbproject/private/private.properties
clientUI/nbproject/build-impl.xml
clientUI/nbproject/project.properties
*.xml
*.properties