/thirdPartyUI/nbproject/private/
/server/nbproject/private/
/processorUI/nbproject/private/
/clientUI/build/
/clientUI/dist/
/Server2/nbproject/private/
/Server2/build/
/BuildDatabase/nbproject/private/